{% extends 'template.html' %}
{% block title %}
Sign Up: Step 5
{% endblock %}

{% block content %}
{% include 'navbar_2.html' %}
<h2 style="text-align:center">Step 5: Get paid</h2>

  <form action="/<anything>" method="post" role="form">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group"  style="margin:auto; width: 600px;">
        <label for="legalName">Legal Business Name</label>
        <input name="legalName" class="form-control" id="legalName" placeholder="Your legal business name">
        <small class="form-text text-muted">Ex. Yummy Delicious Food Inc.</small>
      </div>
      <div class="form-group"  style="margin:auto; width: 600px;" >
        <label for="ownerName">Business Owner Name</label>
        <input class="form-control" name="businessOwner" id="businessOwner" placeholder="Enter name of Legal business owner">
        <small class="form-text text-muted">Enter the full name of the legal business owner</small>
      </div>
      <div class="form-group"  style="margin:auto; width: 600px;">
        <label for="ein">EIN Number</label>
        <input class="form-control" name="ein"id="ein" placeholder="Ex.000111222">
        <small id="first" class="form-text text-muted">Enter the 9 digit code without dashes</small>
      </div>
      <div class="row" style="margin:auto;">
        <div class=" col-lg-4 form-group">
        <label for="month">Month</label>
        <select name="month" type="text" class="form-control" id=" month" aria-describedby="inputGroupPrepend" required>
          <option selected> </option>
          <option value="JAN">JAN</option>
          <option value="FEB">FEB</option>
          <option value="MAR">MAR</option>
          <option value="APR">APR</option>
          <option value="MAY">MAY</option>
          <option value="JUN">JUN</option>
          <option value="JUL">JUL</option>
          <option value="AUG">AUG</option>
          <option value="SEP">SEP</option>
          <option value="OCT">OCT</option>
          <option value="NOV">NOV</option>
          <option value="DEC">DEC</option>
          </select>
        </div>
        <div class=" col-lg-4 form-group">
        <label for="month">Day</label>
        <select name="month" type="text" class="form-control" id=" month" aria-describedby="inputGroupPrepend" required>
          <option selected> </option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">13</option>
          </select>
        </div>
        <div class=" col-lg-4 form-group">
        <label for="year">Year</label>
        <select name="year" type="text" class="form-control" id= "year" aria-describedby="inputGroupPrepend" required>
          <option selected> </option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          </select>
        </div>
      </div>
      <div class="form-group"  style="margin:auto; width: 600px;">
        <label for="accountNum">Account Number</label>
        <input class="form-control" name="accountNum"id="accountNum" placeholder="Account Number">
        <small class="form-text text-muted">Enter the 9-16 digit code</small>
      </div>
      <div class="form-group"  style="margin:auto; width: 600px;">
        <label for="confirmAccountNum">Confirm Account Number</label>
        <input class="form-control" name="confirmAccountNum" id="confirmAccountNum" placeholder="Confirm Account Number">
        <small class="form-text text-muted">Re-Enter the 9-16 digit code</small>
      </div>
      <div class="form-group"  style="margin:auto; width: 600px;">
        <label for="routingNum">Routing Number</label>
        <input class="form-control" name="routingNum" id="routingNum" placeholder="Routing Number">
        <small id="first" class="form-text text-muted">Enter the 9 digit bank account routing number</small>
      </div>
      <div class="form-group"  style="margin:auto; width: 600px;">
        <label for="confirmRoutingNum">Confirm Routing Number</label>
        <input class="form-control" name="confirmRoutingNum"id="confirmRoutingNum" placeholder="Routing Number">
        <small class="form-text text-muted">Re-Enter the 9 digit bank account routing number</small>
      </div>
    </div>
    <div class="col-lg-6">
      <br>
      <br>
      <br>
      <img src="static/images/Lorum Wings.jpg" position="relative"top="20px" width="600px" height="500">
    </div>
  </div>
  </form>
{% endblock %}
