{% extends 'template.html' %}
{% block title %}
Forgot Password
{% endblock %}

{% block content %}
{% include 'navbar_2.html' %}
<br>
<br>
<br>
<div class="container center-div">
    <div class="container jumbotron jumbotron-fluid" id="main-container">
        <div class="container center-div">
            <h3>Opps!..Looks like you have forgotten your password. Please contact customer service to retrieve it.</h3>
        </div>
    </div>
</div>

{% endblock %}
{% include 'footer.html' %}

{% block style %}


<style type="text/css">
    .centerforms{
        width:50%;
        margin:auto
    }
</style>

{% endblock %}