{% macro open_card(name, src='', img_style='', card_style='', rating=0 ,size='small') -%}
  <div class="card bg-dark text-white {{card_style}}">
    <img src="{{ src }}" class="card-img {{ img_style }}" alt="...">
    <div class="card-img-overlay">

    <div class="card-title">
      {% if size == 'big'%}
        <h3>
      {% else %}
        <h5>
      {% endif %}
      {{name}}
      <span style="display:inline-block">
        {%for i in range(rating) %}
          <svg class="bi" width="12" height="12" fill="currentColor">
            <use xlink:href="/static/node_modules/bootstrap-icons/bootstrap-icons.svg#star-fill"/>
          </svg>
        {% endfor %}
      </span>

      {% if size == 'big'%}
        </h3>
      {% else %}
        </h5>
      {% endif %}
    </div>


{%- endmacro %}

{% macro close_card() -%}
    </div>
  </div>
{%- endmacro %}
