{% extends 'template.html' %}
{% block title %}
Fooridise
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div id="app">
    <div class="container">
      <div class="row custom_row">
        <div class="col-lg-8 col-sm-12">
          <h3>Your Order is on its way</h3>

        </div>
        <div class="col-lg-4">
          <!-- Col 2 -->

        </div>
      </div>
      <div class="row custom_row">
        <div class="col-lg-8 col-sm-12">


          <div id="map"></div>
        </div>
        <div class="col-lg-4 col-sm-12 card">
          <my-cart :orders="JSON.parse('{{orders}}')"> </my-cart>

        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <script src ="http://unpkg.com/vue"></script>
  <script src="/static/js/delivery.js"></script>
{% endblock %}

{% block style %}


  <style type="text/css">

    .custom_row{
      margin-top: 2%
    }
    .img_style{
        object-fit: cover;
        object-position: center;
        height: 138px;
        width: 100%;
    }
    .card_style{
      text-shadow: 1px 1px black;
    }
    .selected {
      opacity: 0.75;
      cursor: pointer;
    }
    .rating{
      min-width: 120px;
    }
    .promo {
      /* font-weight: bold; */
      /*  background-color: #5162FA; */

      border-radius: 100px;
      /* padding-left: 1em;
      padding-right: 1em; */
      /* margin-left: 0.5em; */
    }
  </style>

  <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 440px;
        border-radius: 20px;
        width: 100%;
        min-height: 200px;
        min-width: 200px;
      }

  </style>
  <script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHlpPNqrRyyeho7w3t63GmM3EZzKF-e2k&callback=initMap">
  </script>
  <script>
    "use strict";

    function initMap()
    {
      var uluru = {lat: 34.086292, lng: -118.216081};

      var map = new google.maps.Map(document.getElementById("map"), {
        center: uluru,
        zoom: 13
      });


    }
  </script>


{% endblock %}
