
<div class="modal-body">
    <div class=modal-body>
        <form>
            <div class="form-group form-check">
                <h5>Pizza: {{name}}</h5>
                <!--Sauce Section-->
                <h5 class="topping-title">Sauce</h5> 
                <section>
                    <div class="form-check">
                        <input type="radio" class="form-check-input with-gap" id="radioGap1" name="groupOfRadioGap">
                        <label class="form-check-label" for="radioGap1">Red Sauce</label>
                      </div>
                  
                      <div class="form-check">
                        <input type="radio" class="form-check-input with-gap" id="radioGap2" name="groupOfRadioGap">
                        <label class="form-check-label" for="radioGap2">Pesto Sauce</label>
                      </div>
                  
                      <div class="form-check">
                        <input type="radio" class="form-check-input with-gap" id="radioGap3" name="groupOfRadioGap">
                        <label class="form-check-label" for="radioGap3">White Sauce</label>
                      </div>
                </section>

                <!--Cheese Section-->
                <h5 class="topping-title">Cheese</h5> 
                <section>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radioGap4" name="groupOfRadioCheese" >
                        <label class="form-check-label" for="radioGap4">Mozarella</label>
                    </div>
                </section>

                <!--Extra Section-->
                <h5 class="topping-title">Extras</h5> 
                <section>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" > Cheese</label>
                      </div>
                      <div class="checkbox disabled">
                        <label><input type="checkbox" value=""> Toppings</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value=""> Everything</label>
                      </div>
                </section>
        
            </div>

            <h5>Quantity</h5>
            <form class="quantity">
                <div class="value-button" id="decrease" @click="products[0].quantity--" value="Decrease Value">-</div>
                <input type="number" id="number" v-model.number="products[0].quantity" />
                <div class="value-button" id="increase" @click="products[0].quantity++" value="Increase Value">+</div>
              </form>
      </form>
  </div>
</div>



