{% extends 'template.html' %}
{% block title %}
FAQ
{% endblock %}

{% block content %}
{% include 'navbar_2.html' %}


<!-- Banner -->
<section id="banner_abt">
    <div class="col-md-15">
        <div class="container">
            <div class="container-lg">
                <h2 class = "text-center">FAQ</h2>
                <h6 class = "text-center">Your food awaits you...</h6>

            </div>
        </div></div>
</section>



<!-- Announcement -->
<div class="container-fluid p-3">
    <div class="card text-center m-5">
        <h3><div class="card-header">What makes Fooridise unique ?</div></h3>
        <div class="card-body">
            <h6 class="card-title">Fooridise can assist you in choosing where you want to grab your next bite: whether it may be something you never tried, or a certain cuisine that you are in the mood for. With Fooridise, you have the option of doing contactless delivery or  take-out.
                Restaurants are currently under strict regulations in each individual state and this may affect your experience while obtaining a meal since hours and menus are constantly changing with these protocols. With our application, COVID-19 restrictions and hours are updated consistently in order to keep you informed of the ever-changing times and restrictions being set in place.
                Our users and their safety are at the center of our interface, making it extremely easy and safe for anyone to browse, select, register and place your order. We want to protect you and the drivers as much as possible by making our process seamless and minimize the number of hands that your food goes through.
            </h6>
        </div>
    </div>
</div>

<!-- Announcement -->
<div class="container-fluid p-3">
    <div class="card text-center m-5">
        <h3><div class="card-header">Who founded Fooridise ?</div></h3>
        <div class="card-body">
            <h6 class="card-title">The team that built Fooridise from the ground up consists of versatile engineers that each specialized in different areas of front-end and back-end with an emphasis in good design principles and a friendly user interface. Our team came together in order
                to make a high-functioning application, with the thought of accessibility and profound customer service. It's safe to say that we all love having options, especially when it comes to choosing what we are going to eat next and we are creating the ideal platform that we would like to have when choosing our own next meal.
            </h6>
        </div>
    </div>
</div>

<!-- Announcement -->
<div class="container-fluid p-3">
    <div class="card text-center m-5">
        <h3><div class="card-header">What is direct delivery ?</div></h3>
        <div class="card-body">
            <h6 class="card-title">You will have a direct contract with the restaurant so that you can get your order without any problems and also have direct customer service with the restaurant that is taking care of your order. Our users are at the center of our interface, making it extremely easy for anyone to browse, select, register and place your order. We want to protect you and the drivers as much as possible by making our process seamless.
            </h6>
        </div>
    </div>
</div>

<!-- Announcement -->
<div class="container-fluid p-3">
    <div class="card text-center m-5">
        <h3><div class="card-header">Why do you need to have an account ?</div></h3>
        <div class="card-body">
            <h6 class="card-title">An account will allow you to save your customer information such as past orders and likes to make your future purchase much simpler and less time consuming</h6>
        </div>
    </div>
</div>

<!-- Announcement -->
<div class="container-fluid p-3">
    <div class="card text-center m-5">
        <h3><div class="card-header">How is my data stored ?</div></h3>
        <div class="card-body">
            <h6 class="card-title">You always have the right to request information about your stored data, its origin, its recipients, and the purpose of its collection at no charge. You also have the right to request that it be corrected, blocked, or deleted. You can contact us at any time using the address given in the legal notice if you have further questions about the issue of privacy and data protection.
                You may also, of course, file a complaint with the competent regulatory authorities.
            </h6>
        </div>
    </div>
</div>


{% endblock %}

{% block style %}


<style type="text/css">
    .centerforms{
        width:50%;
        margin:auto
    }
</style>

{% endblock %}
