{% extends 'template.html' %}
{% block title %}
Terms and Conditions
{% endblock %}

{% block content %}
{% include 'navbar_2.html' %}
    <br>
    <br>
    <br>
    <div class="container center-div">
        <div class="container jumbotron jumbotron-fluid" id="main-container">
            <div class="container center-div">
                <h3>This Website is provided "as is" with all faults, and Fooridise express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</h3>
            </div>
        </div>
    </div>

{% endblock %}

{% block style %}


<style type="text/css">
    .centerforms{
        width:50%;
        margin:auto
    }
</style>

{% endblock %}
