{% import 'card.html' as card %}
{% extends 'template.html' %}
{% block title %}
Foodridise
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container">
    <div class="row custom_row">
      <div class="col-lg-8 col-sm-12">
        {{ card.open_card(name=data[0]['name'],
        src=data[0]['im_src'], img_style="img_style",
        card_style="card_style",
        size='big', rating=data[0]['rating'])}}
        <h6> 1600 Holloway Ave, San Francisco </h6>
        {{ card.close_card() }}
      </div>
      <div class="col-lg-4">
        <!-- Col 2 -->
      </div>
    </div>
    <div class="row custom_row">
      <div class="col-lg-8 col-sm-12">
        <div class="card-columns">
          {%for element in data[1:]%}
            {{ card.open_card(name=element['name'],
            src=element['im_src'], img_style="img_style",
            card_style="card_style", rating= element["rating"]) }}
            {{ card.close_card() }}
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div id="map"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block style %}


  <style type="text/css">

    .custom_row{
      margin-top: 2%
    }
    .img_style{
        object-fit: cover;
        object-position: center;
        height: 138px;
        width: 100%;
    }
    .card_style{
      text-shadow: 1px 1px black;
    }
    .rating{
      min-width: 120px;
    }
  </style>

  <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        border-radius: 20px;
        width: 100%;
        min-height: 200px;
        min-width: 200px;
      }

  </style>
  <script>
    "use strict";

    function initMap()
    {
      var uluru = {lat: 34.086292, lng: -118.216081};

      var map = new google.maps.Map(document.getElementById("map"), {
        center: uluru,
        zoom: 13
      });

      var data = {{data|tojson}};
      data.forEach((element) => {
        var loc = {lat: element["lat"], lng: element["lng"]};
        var marker = new google.maps.Marker({position: loc, map: map});
      });

    }
  </script>

{% endblock %}
