<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="icon"
      type="image/jpg"
      href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/NYCS-bull-trans-F.svg/480px-NYCS-bull-trans-F.svg.png">
    <link rel="stylesheet" href="{{url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{url_for('static', filename='css/navbar.css')}}" rel="stylesheet">

    {% block style %} {% endblock %}
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHlpPNqrRyyeho7w3t63GmM3EZzKF-e2k&callback=initMap">
    </script>
    <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>


    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
